{
  "openapi": "3.0.3",
  "info": {
    "title": "MD Integrations API",
    "description": "Complete API reference for MD Integrations \u2014 the telehealth and e-prescribing platform for digital health companies. Integrated with DoseSpot for e-prescribing.",
    "version": "1.0.0",
    "contact": {
      "name": "MDI Support",
      "url": "https://www.mdintegrations.com"
    }
  },
  "servers": [
    {
      "url": "https://api.mdintegrations.com/v1",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from the authentication endpoint."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "API Status"
    },
    {
      "name": "Internal - AI"
    },
    {
      "name": "Internal - Admin"
    },
    {
      "name": "Internal - App"
    },
    {
      "name": "Internal - Boothwyn"
    },
    {
      "name": "Internal - Clinicians App (V1)"
    },
    {
      "name": "Internal - Dosespot"
    },
    {
      "name": "Internal - Health Check"
    },
    {
      "name": "Internal - Hubspot"
    },
    {
      "name": "Internal - Lambda"
    },
    {
      "name": "Internal - Patient App (V1)"
    },
    {
      "name": "Internal - PharmacyApi"
    },
    {
      "name": "Internal - S3"
    },
    {
      "name": "Internal - Shopify"
    },
    {
      "name": "Internal - Web"
    },
    {
      "name": "Internal - WooCommerce"
    },
    {
      "name": "Partners"
    },
    {
      "name": "Partners - Cases"
    },
    {
      "name": "Partners - Clinicians"
    },
    {
      "name": "Partners - Dispense Units"
    },
    {
      "name": "Partners - Files"
    },
    {
      "name": "Partners - Internal Support Staffs"
    },
    {
      "name": "Partners - Medical Assistants"
    },
    {
      "name": "Partners - Messages"
    },
    {
      "name": "Partners - Metadata"
    },
    {
      "name": "Partners - Notifications"
    },
    {
      "name": "Partners - Offerings"
    },
    {
      "name": "Partners - Patients"
    },
    {
      "name": "Partners - Pharmacies"
    },
    {
      "name": "Partners - Questionnaires"
    },
    {
      "name": "Partners - Specialties"
    },
    {
      "name": "Partners - Support Staffs"
    },
    {
      "name": "Partners - Tags"
    },
    {
      "name": "Partners - Tests"
    },
    {
      "name": "Partners - Vouchers"
    },
    {
      "name": "Webhooks - Case"
    },
    {
      "name": "Webhooks - Charges"
    },
    {
      "name": "Webhooks - Message"
    },
    {
      "name": "Webhooks - Notification"
    },
    {
      "name": "Webhooks - Patient"
    },
    {
      "name": "Webhooks - Text Message"
    },
    {
      "name": "Webhooks - Vouched"
    },
    {
      "name": "Webhooks - Voucher"
    }
  ],
  "paths": {
    "/v1/partner/metadata/states/{state_id}/cities": {
      "get": {
        "tags": [
          "Partners - Metadata"
        ],
        "summary": "Get cities from a given state",
        "description": "Return a list of all cities from a given state from USA.",
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "name": "Leetonia",
                    "city_id": "3f23c4f1-3ed2-4e6d-bd91-ba6bf5130f00"
                  },
                  {
                    "name": "Payne",
                    "city_id": "05c995b6-2002-406c-b2e0-e21e2d25e9a0"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/partner/metadata/states": {
      "get": {
        "tags": [
          "Partners - Metadata"
        ],
        "summary": "Get all states",
        "description": "Return a list of all states from USA.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "name": "Ohio",
                    "abbreviation": "OH",
                    "is_sync": false,
                    "is_av_flow": false,
                    "state_id": "46238293-fe51-40b6-8e1a-807bff482450",
                    "country": {
                      "country_id": "aff4f7d5-4ce9-4696-9ae8-8fe97d011fbe",
                      "name": "United States of America",
                      "abbreviation": "US"
                    }
                  },
                  {
                    "name": "Pennsylvania",
                    "abbreviation": "PA",
                    "is_sync": false,
                    "is_av_flow": false,
                    "state_id": "aff4f7d5-4ce9-4696-9ae8-8fe97d011fbe",
                    "country": {
                      "country_id": "aff4f7d5-4ce9-4696-9ae8-8fe97d011fbe",
                      "name": "United States of America",
                      "abbreviation": "US"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/partner/metadata/diseases": {
      "get": {
        "tags": [
          "Partners - Metadata"
        ],
        "summary": "Get all Disease Codes",
        "description": "Return a list of all diseases codes.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "disease_id": "82cc9a95-6926-41a8-8776-90871783df96",
                      "icd": "1A00",
                      "description": "Cholera"
                    },
                    {
                      "disease_id": "f915136a-c777-430a-ba95-65a134dbda0b",
                      "icd": "1A01",
                      "description": "Intestinal infection due to other Vibrio"
                    },
                    {
                      "disease_id": "6572aaff-0f8d-495f-b972-3b24073f6d9c",
                      "icd": "1A02",
                      "description": "Intestinal infections due to Shigella"
                    },
                    {
                      "disease_id": "d08c300e-9391-4396-b489-b2e3fa711348",
                      "icd": "1A03",
                      "description": "Intestinal infections due to Escherichia coli"
                    },
                    {
                      "disease_id": "a82b63a8-4375-4eaa-b82e-10a98740d81f",
                      "icd": "1A03.0",
                      "description": "Enteropathogenic Escherichia coli infection"
                    },
                    {
                      "disease_id": "174e1411-6272-4a45-8025-e830b1e54e68",
                      "icd": "1A03.1",
                      "description": "Enterotoxigenic Escherichia coli infection"
                    },
                    {
                      "disease_id": "edec57c9-39f3-4f1d-b491-3ea486a06441",
                      "icd": "1A03.2",
                      "description": "Enteroinvasive Escherichia coli infection"
                    },
                    {
                      "disease_id": "1c42e152-5b8f-41e8-80bf-273e9ec8eaf7",
                      "icd": "1A03.3",
                      "description": "Enterohaemorrhagic Escherichia coli infection"
                    },
                    {
                      "disease_id": "415dd9d2-94d9-4a90-abe3-c345502fd734",
                      "icd": "1A03.Y",
                      "description": "Intestinal infections due to other specified Escherichia coli"
                    },
                    {
                      "disease_id": "3456a088-9bfd-41ee-b068-96233f72da41",
                      "icd": "1A03.Z",
                      "description": "Intestinal infections due to Escherichia coli, unspecified"
                    },
                    {
                      "disease_id": "1bd4ab5e-f489-455e-8511-d722a7c737cc",
                      "icd": "1A04",
                      "description": "Intestinal infections due to Clostridioides difficile"
                    },
                    {
                      "disease_id": "9a818e20-d1fd-4f4a-b886-77bae80f83da",
                      "icd": "1A05",
                      "description": "Intestinal infections due to Yersinia enterocolitica"
                    },
                    {
                      "disease_id": "b56fcee3-633b-4b70-bb51-0939d1204569",
                      "icd": "1A06",
                      "description": "Gastroenteritis due to Campylobacter"
                    },
                    {
                      "disease_id": "390e034e-9e66-4587-bbe3-e39a96050769",
                      "icd": "1A07",
                      "description": "Typhoid fever"
                    },
                    {
                      "disease_id": "cc6286a7-7e6e-47a6-9ee5-f20f616682f9",
                      "icd": "1A07.0",
                      "description": "Typhoid peritonitis"
                    }
                  ],
                  "links": {
                    "first": "http://api.localhost:8000/v1/partner/metadata/diseases?page=1",
                    "last": "http://api.localhost:8000/v1/partner/metadata/diseases?page=1960",
                    "prev": null,
                    "next": "http://api.localhost:8000/v1/partner/metadata/diseases?page=2"
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 1960,
                    "links": [
                      {
                        "url": null,
                        "label": "&laquo; Previous",
                        "active": false
                      },
                      {
                        "url": "http://api.localhost:8000/v1/partner/metadata/diseases?page=1",
                        "label": "1",
                        "active": true
                      },
                      {
                        "url": "http://api.localhost:8000/v1/partner/metadata/diseases?page=2",
                        "label": "2",
                        "active": false
                      },
                      {
                        "url": "http://api.localhost:8000/v1/partner/metadata/diseases?page=3",
                        "label": "3",
                        "active": false
                      },
                      {
                        "url": "http://api.localhost:8000/v1/partner/metadata/diseases?page=4",
                        "label": "4",
                        "active": false
                      },
                      {
                        "url": "http://api.localhost:8000/v1/partner/metadata/diseases?page=5",
                        "label": "5",
                        "active": false
                      },
                      {
                        "url": "http://api.localhost:8000/v1/partner/metadata/diseases?page=6",
                        "label": "6",
                        "active": false
                      },
                      {
                        "url": "http://api.localhost:8000/v1/partner/metadata/diseases?page=7",
                        "label": "7",
                        "active": false
                      },
                      {
                        "url": "http://api.localhost:8000/v1/partner/metadata/diseases?page=8",
                        "label": "8",
                        "active": false
                      },
                      {
                        "url": "http://api.localhost:8000/v1/partner/metadata/diseases?page=9",
                        "label": "9",
                        "active": false
                      },
                      {
                        "url": "http://api.localhost:8000/v1/partner/metadata/diseases?page=10",
                        "label": "10",
                        "active": false
                      },
                      {
                        "url": null,
                        "label": "...",
                        "active": false
                      },
                      {
                        "url": "http://api.localhost:8000/v1/partner/metadata/diseases?page=1959",
                        "label": "1959",
                        "active": false
                      },
                      {
                        "url": "http://api.localhost:8000/v1/partner/metadata/diseases?page=1960",
                        "label": "1960",
                        "active": false
                      },
                      {
                        "url": "http://api.localhost:8000/v1/partner/metadata/diseases?page=2",
                        "label": "Next &raquo;",
                        "active": false
                      }
                    ],
                    "path": "http://api.localhost:8000/v1/partner/metadata/diseases",
                    "per_page": 15,
                    "to": 15,
                    "total": 29391
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/partner/metadata/diseases/{disease_id}": {
      "get": {
        "tags": [
          "Partners - Metadata"
        ],
        "summary": "Get diseases by ID",
        "description": "Return the disease data by its ID.",
        "parameters": [
          {
            "name": "disease_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "disease_id": "32f62f6e-32b7-4145-a375-15a2bd8b8dfa",
                  "icd": "A000",
                  "description": "Cholera due to Vibrio cholerae 01, biovar cholerae"
                }
              }
            }
          }
        }
      }
    },
    "/v1/partner/metadata/zipcodes": {
      "get": {
        "tags": [
          "Partners - Metadata"
        ],
        "summary": "Get Cities and States from Zipcode",
        "description": "Returns Cities and State for each City that matches the Zipcode passed.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "zipcode": "47106",
                    "city": {
                      "name": "Borden",
                      "city_id": "fffa8789-d375-479e-ba10-113968b337b2",
                      "state": {
                        "name": "Indiana",
                        "abbreviation": "IN",
                        "is_sync": false,
                        "is_av_flow": false
                      }
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/partner/metadata/license-types": {
      "get": {
        "tags": [
          "Partners - Metadata"
        ],
        "summary": "Get all license types",
        "description": "",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "type": "npi",
                    "description": "National Provider Identifier"
                  },
                  {
                    "type": "dea",
                    "description": "DEA Registration Number"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/files": {
      "patch": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Update case files",
        "description": "Update cases files.\nPayload\n\n\n\nfield\ntype\ndescription\n\n\n\n\ncase_files\narray(uuid)*\nFiles ID to be attached to the case. The files must be uploaded before creating a case. To upload files check Partners > Files",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "case_files": [
                  "71a8d737-05bd-53eb-9af5-5b4900947fa4",
                  "c2bc014b-81fd-1828-b3cf-2bfaf159054e"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "file_id": "1fff9ac9-c896-4145-9ea3-cdc152e82f2f",
                    "path": "partners/PeLGM0MiFDW5zIfLOTvYwyGeGVvLvflNOnQMOZo9.png",
                    "name": "face - left side",
                    "mime_type": "image/png",
                    "url": "http://api.localhost:8000/v1/files/1fff9ac9-c896-4145-9ea3-cdc152e82f2f/redirect?token=e4b6b7a54e94320c21ea5e87f8f6a2cc",
                    "url_thumbnail": "http://api.localhost:8000/v1/files/1fff9ac9-c896-4145-9ea3-cdc152e82f2f/redirect?thumbnail=1&token=e4b6b7a54e94320c21ea5e87f8f6a2cc",
                    "created_at": "2022-12-15T18:08:08.000000Z"
                  }
                ]
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Get case files",
        "description": "Returns a list of all attached files to the case.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "file_id": "1fff9ac9-c896-4145-9ea3-cdc152e82f2f",
                    "path": "partners/PeLGM0MiFDW5zIfLOTvYwyGeGVvLvflNOnQMOZo9.png",
                    "name": "face - left side",
                    "mime_type": "image/png",
                    "url": "http://api.localhost:8000/v1/files/1fff9ac9-c896-4145-9ea3-cdc152e82f2f/redirect?token=e4b6b7a54e94320c21ea5e87f8f6a2cc",
                    "url_thumbnail": "http://api.localhost:8000/v1/files/1fff9ac9-c896-4145-9ea3-cdc152e82f2f/redirect?thumbnail=1&token=e4b6b7a54e94320c21ea5e87f8f6a2cc",
                    "created_at": "2022-12-15T18:08:08.000000Z"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/files/{file_id}": {
      "post": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Attach a file to a case",
        "description": "Attach a file to a case.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "file_id": "1fff9ac9-c896-4145-9ea3-cdc152e82f2f",
                  "path": "partners/PeLGM0MiFDW5zIfLOTvYwyGeGVvLvflNOnQMOZo9.png",
                  "name": "face - left side",
                  "mime_type": "image/png",
                  "url": "http://api.localhost:8000/v1/files/1fff9ac9-c896-4145-9ea3-cdc152e82f2f/redirect?token=e4b6b7a54e94320c21ea5e87f8f6a2cc",
                  "url_thumbnail": "http://api.localhost:8000/v1/files/1fff9ac9-c896-4145-9ea3-cdc152e82f2f/redirect?thumbnail=1&token=e4b6b7a54e94320c21ea5e87f8f6a2cc",
                  "created_at": "2022-12-15T18:08:08.000000Z"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Detach a file from a case",
        "description": "Attach a file to a case.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": []
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/events": {
      "get": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Get case events",
        "description": "Returns a list of events related to the case.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "event_id": "093fecd6-b7e3-4b30-8a26-3cb3c728d592",
                    "date_time": "2022-08-25T21:33:51.000000Z",
                    "model": "casemodel",
                    "type": "viewed",
                    "by_model": "clinician",
                    "by": "John Snow",
                    "title": "Viewed by Clinician"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/clinician/cases/{case_id}/offerings/{offering}/diseases": {
      "get": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Get case diseases",
        "description": "List all diseases for a given case prescription/offering ID.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "offering",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "disease_id": "32f62f6e-32b7-4145-a375-15a2bd8b8dfa",
                    "icd": "A000",
                    "description": "Cholera due to Vibrio cholerae 01, biovar cholerae",
                    "is_primary": true
                  },
                  {
                    "disease_id": "32f62f6e-32b7-4145-a375-15a2bd8b8dfa",
                    "icd": "A001",
                    "description": "Cholera due to Vibrio 02",
                    "is_primary": false
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Attach new diseases",
        "description": "Post a disease to the case prescription/offering.\nPayload\nNote: Use the \"Get all Disease Codes\" endpoint under the metadata folder to find a list of all availables UUID to be used. Once you know a disease id, you can also retrieve its information through the API using the Get Disease route.\n\n\n\nfield\ntype\n\n\n\n\ndisease_id\nUUID (required)",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "offering",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "disease_id": "0b333a71-8e31-4b5d-834c-27f724ac14ff"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "disease_id": "32f62f6e-32b7-4145-a375-15a2bd8b8dfa",
                    "icd": "A000",
                    "description": "Cholera due to Vibrio cholerae 01, biovar cholerae",
                    "is_primary": true
                  },
                  {
                    "disease_id": "32f62f6e-32b7-4145-a375-15a2bd8b8dfa",
                    "icd": "A001",
                    "description": "Cholera due to Vibrio 02",
                    "is_primary": false
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/clinician/cases/{case_id}/offerings/{offering}/diseases/{disease_id}": {
      "delete": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Delete diseases",
        "description": "Delete disease from a case prescription/offering.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "offering",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "disease_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "disease_id": "32f62f6e-32b7-4145-a375-15a2bd8b8dfa",
                    "icd": "A000",
                    "description": "Cholera due to Vibrio cholerae 01, biovar cholerae",
                    "is_primary": true
                  },
                  {
                    "disease_id": "32f62f6e-32b7-4145-a375-15a2bd8b8dfa",
                    "icd": "A001",
                    "description": "Cholera due to Vibrio 02",
                    "is_primary": false
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/clinician/cases/{case_id}/offerings/{offering}/diseases/{disease_id}/primary": {
      "post": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Set primary disease",
        "description": "Set a case prescription/offering disease as primary to be sent to Dosespot.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "offering",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "disease_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/offerings/{offering_id}": {
      "delete": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Delete case offering",
        "description": "Delete a specific case offering.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "offering_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "case_prescription_id": "4564bd63-eb14-4d2f-b95b-1dfd31d6d801",
                    "title": "Title example",
                    "is_additional_approval_needed": true,
                    "name": "Name example",
                    "dosespot_prescription_id": null,
                    "effective_date": "2023-05-10",
                    "status": "pending",
                    "prescription_status_details": "Prescription delivery verified",
                    "refills": 15,
                    "quantity": 1779333.59,
                    "days_supply": 87,
                    "no_substitutions": true,
                    "pharmacy_notes": "This medication might not be suitable for people with... ",
                    "thank_you_note": "Lorem ipsum",
                    "clinical_note": "Lorem ipsum",
                    "directions": "Maxime sed voluptate autem pariatur sed quasi.",
                    "dispense_unit_id": 73,
                    "pharmacy_id": 76,
                    "pharmacy_name": "White Oak Pharmacy",
                    "medication": null,
                    "partner_compound": {
                      "partner_compound_id": "57e6b905-2c69-40e5-9c69-56c7e8b6a76f",
                      "title": "Clindamycin",
                      "metadata": "Lorem ipum"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Update case offering",
        "description": "Update a specific case offering.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "offering_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "product": {
                  "quantity": 3,
                  "directions": "One per day",
                  "day_supply": 2
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "id": "da78172e-e253-4458-8bc2-6acbd34f28a6",
                    "case_offering_id": "da78172e-e253-4458-8bc2-6acbd34f28a6",
                    "title": "supply example",
                    "name": "supply example",
                    "directions": "directions",
                    "is_additional_approval_needed": false,
                    "thank_you_note": "Thank you!",
                    "clinical_note": "Notes from the MD.",
                    "status": "pending",
                    "status_details": null,
                    "order": 1,
                    "is_important": false,
                    "offerable_type": "App\\Models\\Offering",
                    "offerable_id": "19e21647-e5bf-4996-b9b4-154aab1963ad",
                    "order_status": null,
                    "order_date": null,
                    "order_details": null,
                    "order_updated": null,
                    "created_at": "2025-05-29T22:06:08.000000Z",
                    "updated_at": "2025-05-29T22:06:08.000000Z",
                    "deleted_at": null,
                    "product": {
                      "id": "dfa4b67d-afe1-46b7-acfe-7c6c4d11abd8",
                      "ndc": null,
                      "otc": null,
                      "upc": null,
                      "name": "supply example",
                      "title": "supply example",
                      "refills": 1,
                      "metadata": null,
                      "quantity": "2",
                      "created_at": "2025-04-25T13:44:53.000000Z",
                      "deleted_at": null,
                      "directions": "directions",
                      "updated_at": "2025-04-25T13:44:53.000000Z",
                      "days_supply": null,
                      "is_obsolete": null,
                      "pharmacy_id": null,
                      "dispense_unit": "Packet",
                      "pharmacy_name": null,
                      "effective_date": null,
                      "force_pharmacy": false,
                      "pharmacy_notes": "Notes for the parmacy.",
                      "dispense_unit_id": 21,
                      "dosespot_supply_id": 21
                    },
                    "product_id": "dfa4b67d-afe1-46b7-acfe-7c6c4d11abd8",
                    "product_type": "App\\Models\\DosespotSupply"
                  },
                  {
                    "id": "70dafa3e-63ab-4d7a-b7ec-bb9c005ff6e6",
                    "case_offering_id": "70dafa3e-63ab-4d7a-b7ec-bb9c005ff6e6",
                    "title": "compound example",
                    "name": "compound example",
                    "directions": "abc",
                    "is_additional_approval_needed": false,
                    "thank_you_note": "Thank you!",
                    "clinical_note": "Notes from the MD.",
                    "status": "pending",
                    "status_details": null,
                    "order": 1,
                    "is_important": false,
                    "offerable_type": "App\\Models\\Offering",
                    "offerable_id": "5ff1eae1-1566-4dd5-ad1a-457b105d59ac",
                    "order_status": null,
                    "order_date": null,
                    "order_details": null,
                    "order_updated": null,
                    "created_at": "2025-05-29T22:06:32.000000Z",
                    "updated_at": "2025-05-29T22:06:32.000000Z",
                    "deleted_at": null,
                    "product": {
                      "id": "227eeedb-3ad4-4b0a-adda-a09f4ba803c8",
                      "name": "compound example",
                      "title": "compound example",
                      "refills": 1,
                      "metadata": null,
                      "quantity": "2",
                      "created_at": "2025-04-25T13:12:48.000000Z",
                      "deleted_at": null,
                      "directions": "abc",
                      "updated_at": "2025-04-25T13:12:48.000000Z",
                      "days_supply": null,
                      "pharmacy_id": null,
                      "clinician_id": null,
                      "dispense_unit": "Packet",
                      "pharmacy_name": null,
                      "effective_date": null,
                      "force_pharmacy": false,
                      "pharmacy_notes": "Notes for the parmacy.",
                      "dispense_unit_id": 21,
                      "allow_substitutions": true
                    },
                    "product_id": "227eeedb-3ad4-4b0a-adda-a09f4ba803c8",
                    "product_type": "App\\Models\\DosespotCompound"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/offerings/status": {
      "patch": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Update case offerings statuses",
        "description": "Update cases offerings statuses.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "case_prescription_id": "4564bd63-eb14-4d2f-b95b-1dfd31d6d801",
                    "title": "Title example",
                    "is_additional_approval_needed": true,
                    "name": "Name example",
                    "dosespot_prescription_id": null,
                    "status": "pending",
                    "prescription_status_details": "Prescription delivery verified",
                    "refills": 15,
                    "order": 1,
                    "quantity": 1779333.59,
                    "days_supply": 87,
                    "no_substitutions": true,
                    "pharmacy_notes": "This medication might not be suitable for people with... ",
                    "thank_you_note": "Lorem ipsum",
                    "clinical_note": "Lorem ipsum",
                    "directions": "Maxime sed voluptate autem pariatur sed quasi.",
                    "dispense_unit_id": 73,
                    "pharmacy_id": 76,
                    "pharmacy_name": "White Oak Pharmacy",
                    "medication": null,
                    "partner_compound": {
                      "partner_compound_id": "57e6b905-2c69-40e5-9c69-56c7e8b6a76f",
                      "title": "Clindamycin",
                      "name": "Clindamycin",
                      "metadata": "Lorem ipum"
                    }
                  },
                  {
                    "dosespot_prescription_id": null,
                    "title": "Title example",
                    "name": "Name example",
                    "status": "pending",
                    "prescription_status_details": "Prescription delivery verified",
                    "refills": 15,
                    "order": 2,
                    "quantity": "92442.271",
                    "days_supply": 87,
                    "no_substitutions": true,
                    "pharmacy_notes": "This medication might not be suitable for people with... ",
                    "thank_you_note": "Lorem ipsum",
                    "clinical_note": "Lorem ipsum",
                    "directions": "Maxime sed voluptate autem pariatur sed quasi.",
                    "dispense_unit_id": 73,
                    "pharmacy_id": 76,
                    "pharmacy_name": "White Oak Pharmacy",
                    "medication": {
                      "dosespot_medication_id": "1495316",
                      "dispense_unit_id": 26,
                      "dose_form": "tablet",
                      "route": "sublingual",
                      "strength": "2800 BAU",
                      "generic_product_name": "timothy grass pollen allergen extract 2800 BAU sublingual tablet",
                      "lexi_gen_product_id": 29589,
                      "lexi_drug_syn_id": 219792,
                      "lexi_synonym_type_id": 60,
                      "lexi_gen_drug_id": "d08256",
                      "rx_cui": "1495316",
                      "otc": false,
                      "ndc": "52709150103",
                      "schedule": "0",
                      "display_name": "Grastek 2800 BAU sublingual tablet",
                      "monograph_path": null,
                      "drug_classification": "allergenics",
                      "state_schedules": [],
                      "metadata": "Lorem ipum",
                      "partner_medication_id": "29394cf1-379d-4767-abc0-982343980646",
                      "title": "tim grass"
                    },
                    "partner_compound": null
                  },
                  {
                    "dosespot_prescription_id": null,
                    "title": "Title example",
                    "name": "Name example",
                    "status": "pending",
                    "prescription_status_details": "Prescription delivery verified",
                    "refills": 15,
                    "order": 3,
                    "quantity": "92442.271",
                    "days_supply": 87,
                    "no_substitutions": true,
                    "pharmacy_notes": "This medication might not be suitable for people with... ",
                    "thank_you_note": "Lorem ipsum",
                    "clinical_note": "Lorem ipsum",
                    "directions": "Maxime sed voluptate autem pariatur sed quasi.",
                    "dispense_unit_id": 73,
                    "pharmacy_id": 76,
                    "medication": null,
                    "partner_compound": null,
                    "partner_supply": {
                      "ndc": "83490044052",
                      "name": "Mask Vortex Miscellaneous",
                      "active": true,
                      "refills": 1,
                      "metadata": "teste metadata",
                      "quantity": 1,
                      "supply_id": 13279,
                      "directions": "test",
                      "days_supply": null,
                      "pharmacy_id": "13012",
                      "rx_required": false,
                      "clinical_note": null,
                      "dispense_unit": "Film",
                      "pharmacy_name": "Curexa",
                      "pharmacy_notes": null,
                      "thank_you_note": null,
                      "dispense_unit_id": "52",
                      "partner_supply_id": "1415fa7f-af2e-4d56-81e0-a4bef15b7c51"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/offerings": {
      "get": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Get case offerings",
        "description": "Return all offerings for a given case ID.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "id": "da78172e-e253-4458-8bc2-6acbd34f28a6",
                    "case_offering_id": "da78172e-e253-4458-8bc2-6acbd34f28a6",
                    "title": "supply example",
                    "name": "supply example",
                    "directions": "directions",
                    "is_additional_approval_needed": false,
                    "thank_you_note": "Thank you!",
                    "clinical_note": "Notes from the MD.",
                    "status": "pending",
                    "status_details": null,
                    "order": 1,
                    "is_important": false,
                    "offerable_type": "App\\Models\\Offering",
                    "offerable_id": "19e21647-e5bf-4996-b9b4-154aab1963ad",
                    "order_status": null,
                    "order_date": null,
                    "order_details": null,
                    "order_updated": null,
                    "created_at": "2025-05-29T22:06:08.000000Z",
                    "updated_at": "2025-05-29T22:06:08.000000Z",
                    "deleted_at": null,
                    "product": {
                      "id": "dfa4b67d-afe1-46b7-acfe-7c6c4d11abd8",
                      "ndc": null,
                      "otc": null,
                      "upc": null,
                      "name": "supply example",
                      "title": "supply example",
                      "refills": 1,
                      "metadata": null,
                      "quantity": "2",
                      "created_at": "2025-04-25T13:44:53.000000Z",
                      "deleted_at": null,
                      "directions": "directions",
                      "updated_at": "2025-04-25T13:44:53.000000Z",
                      "days_supply": null,
                      "is_obsolete": null,
                      "pharmacy_id": null,
                      "dispense_unit": "Packet",
                      "pharmacy_name": null,
                      "effective_date": null,
                      "force_pharmacy": false,
                      "pharmacy_notes": "Notes for the parmacy.",
                      "dispense_unit_id": 21,
                      "dosespot_supply_id": 21
                    },
                    "product_id": "dfa4b67d-afe1-46b7-acfe-7c6c4d11abd8",
                    "product_type": "App\\Models\\DosespotSupply"
                  },
                  {
                    "id": "70dafa3e-63ab-4d7a-b7ec-bb9c005ff6e6",
                    "case_offering_id": "70dafa3e-63ab-4d7a-b7ec-bb9c005ff6e6",
                    "title": "compound example",
                    "name": "compound example",
                    "directions": "abc",
                    "is_additional_approval_needed": false,
                    "thank_you_note": "Thank you!",
                    "clinical_note": "Notes from the MD.",
                    "status": "pending",
                    "status_details": null,
                    "order": 1,
                    "is_important": false,
                    "offerable_type": "App\\Models\\Offering",
                    "offerable_id": "5ff1eae1-1566-4dd5-ad1a-457b105d59ac",
                    "order_status": null,
                    "order_date": null,
                    "order_details": null,
                    "order_updated": null,
                    "created_at": "2025-05-29T22:06:32.000000Z",
                    "updated_at": "2025-05-29T22:06:32.000000Z",
                    "deleted_at": null,
                    "product": {
                      "id": "227eeedb-3ad4-4b0a-adda-a09f4ba803c8",
                      "name": "compound example",
                      "title": "compound example",
                      "refills": 1,
                      "metadata": null,
                      "quantity": "2",
                      "created_at": "2025-04-25T13:12:48.000000Z",
                      "deleted_at": null,
                      "directions": "abc",
                      "updated_at": "2025-04-25T13:12:48.000000Z",
                      "days_supply": null,
                      "pharmacy_id": null,
                      "clinician_id": null,
                      "dispense_unit": "Packet",
                      "pharmacy_name": null,
                      "effective_date": null,
                      "force_pharmacy": false,
                      "pharmacy_notes": "Notes for the parmacy.",
                      "dispense_unit_id": 21,
                      "allow_substitutions": true
                    },
                    "product_id": "227eeedb-3ad4-4b0a-adda-a09f4ba803c8",
                    "product_type": "App\\Models\\DosespotCompound"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Create case offering",
        "description": "Create a case offering.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "offering_id": "dbcc21c5-53d4-4da2-8cf6-7156563a035c",
                "product": {
                  "name": "Semaglutide",
                  "sku": "1010",
                  "dispense_unit": "tablet",
                  "pharmacy_notes": "Notes for the parmacy.",
                  "quantity": 4,
                  "days_supply": 2,
                  "directions": "One per day."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "id": "b0fe79cb-d766-4416-b997-92f3866fdc75",
                  "case_offering_id": "b0fe79cb-d766-4416-b997-92f3866fdc75",
                  "title": "supply title",
                  "name": "supply name",
                  "directions": "new directions",
                  "is_additional_approval_needed": false,
                  "thank_you_note": "Thank you!",
                  "clinical_note": "Notes from the MD.",
                  "status": "pending",
                  "status_details": null,
                  "order": 1,
                  "is_important": false,
                  "offerable_type": "App\\Models\\Offering",
                  "offerable_id": "211fa3d8-f257-47d4-8de3-1e39d8c8832a",
                  "order_status": "not-applicable",
                  "order_date": null,
                  "order_details": null,
                  "order_updated": null,
                  "created_at": "2025-06-10T12:57:45.000000Z",
                  "updated_at": "2025-06-10T12:57:45.000000Z",
                  "deleted_at": null,
                  "product": {
                    "id": "bdbf38f9-b85c-43b2-802a-81741581bc15",
                    "dosespot_supply_id": 21,
                    "name": "nme test",
                    "ndc": null,
                    "refills": 3,
                    "quantity": "8",
                    "days_supply": null,
                    "directions": "directions",
                    "pharmacy_name": null,
                    "pharmacy_id": null,
                    "dispense_unit": "Tablet",
                    "dispense_unit_id": 26,
                    "pharmacy_notes": "Notes for the parmacy.",
                    "metadata": null,
                    "created_at": "2025-04-25T13:48:52.000000Z",
                    "updated_at": "2025-04-25T13:52:59.000000Z",
                    "deleted_at": null,
                    "title": null,
                    "effective_date": null,
                    "force_pharmacy": false,
                    "upc": null,
                    "otc": null,
                    "is_obsolete": null
                  },
                  "product_id": "bdbf38f9-b85c-43b2-802a-81741581bc15",
                  "product_type": "App\\Models\\DosespotSupply"
                }
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/questions": {
      "post": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Post case question",
        "description": "Create a case question.\nPayload\n\n\n\nfield\ntype\ndescription\n\n\n\n\nquestion\ntext*\nQuestion\n\n\nanswer\ntext*\nAnswer\n\n\ntype\nstring*\nQuestion type. Available options: boolean, number or string\n\n\nimportant\nboolean\nFlag to set a question as important\n\n\ndisplay_in_pdf\nboolean\nFlag to set if this question will be displayed in the case PDF file\n\n\ndescription\ntext\nA description for your question\n\n\nlabel\nstring(50)\nThe question label\n\n\nmetadata\ntext\nA metadata field\n\n\ndisplayed_options\narray\nAn array of options that were displayed to the patient\n\n\nis_critical\nboolean\nMark question as critical",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "question": "Are you pregnant?",
                "answer": "true",
                "type": "boolean",
                "important": true,
                "is_critical": true,
                "display_in_pdf": true,
                "description": "Here is the question description",
                "label": "Question Label Example",
                "metadata": "example of metatada #123 for question",
                "displayed_options": [
                  "yes",
                  "no"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "question": "Do you smoke?",
                  "answer": "true",
                  "type": "boolean",
                  "important": true,
                  "is_critical": false,
                  "display_in_pdf": false,
                  "case_question_id": "02592944-ba4a-4d93-87d9-daa7d256faf4",
                  "description": "Here is the question description",
                  "label": "Question Label Example",
                  "metadata": "example of metatada #222 for question",
                  "displayed_options": [
                    "yes",
                    "no"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Get case questions",
        "description": "Return all questions for a given case ID.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "prioritized": true,
                "prioritized_reason": "The prescription is urgent!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "question": "Are you pregnant?",
                    "answer": "true",
                    "type": "boolean",
                    "important": true,
                    "is_critical": true,
                    "display_in_pdf": true,
                    "case_question_id": "774f6741-afd1-40a5-aa60-0ddf635472cb",
                    "description": "Here is the question description",
                    "label": "Question Label Example",
                    "metadata": "example of metatada #222 for question",
                    "displayed_options": [
                      "yes",
                      "no"
                    ]
                  },
                  {
                    "question": "Do you smoke?",
                    "answer": "true",
                    "type": "boolean",
                    "important": true,
                    "is_critical": false,
                    "display_in_pdf": true,
                    "case_question_id": "02592944-ba4a-4d93-87d9-daa7d256faf4",
                    "description": "Here is the question description",
                    "label": "Question Label Example",
                    "metadata": "example of metatada #222 for question",
                    "displayed_options": [
                      "true",
                      "false"
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/diseases": {
      "get": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Get case diseases",
        "description": "List all diseases for a given case ID.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "disease_id": "32f62f6e-32b7-4145-a375-15a2bd8b8dfa",
                    "icd": "A000",
                    "description": "Cholera due to Vibrio cholerae 01, biovar cholerae",
                    "is_primary": true
                  },
                  {
                    "disease_id": "32f62f6e-32b7-4145-a375-15a2bd8b8dfa",
                    "icd": "A001",
                    "description": "Cholera due to Vibrio 02",
                    "is_primary": false
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Attach new diseases",
        "description": "Attach a Disease to the given Case.\nPayload\nNote: Use the \"Get all Disease Codes\" endpoint under the metadata folder to find a list of all availables UUID to be used. Once you know a disease id, you can also retrieve its information through the API using the Get Disease route\n\n\n\nfield\ntype\n\n\n\n\ndisease_id\nUUID (required)",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "disease_id": "0b333a71-8e31-4b5d-834c-27f724ac14ff"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "disease_id": "32f62f6e-32b7-4145-a375-15a2bd8b8dfa",
                    "icd": "A000",
                    "description": "Cholera due to Vibrio cholerae 01, biovar cholerae",
                    "is_primary": true
                  },
                  {
                    "disease_id": "32f62f6e-32b7-4145-a375-15a2bd8b8dfa",
                    "icd": "A001",
                    "description": "Cholera due to Vibrio 02",
                    "is_primary": false
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/diseases/{disease_id}": {
      "delete": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Delete diseases",
        "description": "Delete disease from a case.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "disease_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "disease_id": "32f62f6e-32b7-4145-a375-15a2bd8b8dfa",
                    "icd": "A000",
                    "description": "Cholera due to Vibrio cholerae 01, biovar cholerae",
                    "is_primary": true
                  },
                  {
                    "disease_id": "32f62f6e-32b7-4145-a375-15a2bd8b8dfa",
                    "icd": "A001",
                    "description": "Cholera due to Vibrio 02",
                    "is_primary": false
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/diseases/{disease_id}/primary": {
      "post": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Set primary disease",
        "description": "Set a case disease as primary to be sent to Dosespot.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "disease_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v1/partner/statistics/count/cases-by-status": {
      "get": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Get Case Statuses Count",
        "description": "",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "assigned": 0,
                  "waiting": 2,
                  "processing": 0,
                  "approved": 0,
                  "support": 2,
                  "created": 5
                }
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/support": {
      "post": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Send case to Support",
        "description": "Set a given case as in support.\nPayload\n\n\n\nfield\ntype\ndescription\n\n\n\n\nreason\nstring\nA reason description",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "reason": "Needs customer support attention"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "prioritized_at": null,
                  "prioritized_reason": null,
                  "prioritized": false,
                  "locked_at": null,
                  "is_locked": false,
                  "is_additional_approval_needed": false,
                  "created_at": "2021-06-07T17:01:32.000000Z",
                  "is_sync": true,
                  "metadata": "case number 15",
                  "patient_exam_id": null,
                  "is_chargeable": true,
                  "case_type": "follow-up",
                  "case_id": "45e1e159-163d-4bba-9fb5-436db4222ac5",
                  "reference_case_id": "9b0c4571-f980-4fd4-bf9d-87e88d0c4571",
                  "case_status": {
                    "name": "support",
                    "reason": null,
                    "updated_at": "2021-06-17T17:14:59.000000Z"
                  },
                  "case_assignment": {
                    "reason": "Repellat quisquam sed distinctio sit id et. Unde et doloremque quas ducimus harum perferendis. Officia sapiente velit necessitatibus deleniti. Velit error inventore ut ipsam officia id dolorem.",
                    "created_at": "2021-02-03T19:30:18.000000Z",
                    "case_assignment_id": "227ed29c-044a-41d7-bb68-caa2e6c5ee63",
                    "clinician": {
                      "first_name": "Parisian",
                      "last_name": "Schultz",
                      "suffix": "M.D",
                      "is_online": true,
                      "npi": "1598738916",
                      "specialty": "General Practice",
                      "dea": "RM1234567",
                      "photo": {
                        "path": "clinicians_photos/ba193841-9a21-4bdf-a778-2a1f33e1ea2c.jpeg",
                        "name": "under_construction.jpg",
                        "mime_type": "image/jpeg",
                        "url": "http://api.localhost:8000/v1/file/clinicians_photos/ba193841-9a21-4bdf-a778-2a1f33e1ea2c.jpeg",
                        "url_thumbnail": null,
                        "file_id": "22a03259-b2de-4255-9d2e-48a9dc368633"
                      },
                      "clinician_id": "65e4f8da-e5f7-44b3-a3d4-c9dc74981f4f",
                      "full_name": "Seamus Parisian"
                    }
                  },
                  "patient": {
                    "prefix": "Sr",
                    "first_name": "Valentine",
                    "middle_name": "Harry",
                    "last_name": "Blick",
                    "email": "alverta13@example.org",
                    "date_of_birth": "1977-07-10",
                    "gender": 0,
                    "height": 6,
                    "metadata": "patient number 15",
                    "weight": 170,
                    "phone_number": "468.287.0822",
                    "phone_type": "2",
                    "active": true,
                    "dosespot": {
                      "patient_dosespot_id": "9b0c4571-f980-4fd4-bf9d-6de1ac52dc9d",
                      "sync_status": "success"
                    },
                    "patient_id": "b9d75141-b78a-428c-ad41-c7df6307f6db",
                    "gender_label": "Not known",
                    "current_medications": "paracetamol and ibuprofen",
                    "allergies": "peanuts and penicillin",
                    "medical_conditions": "medical conditions example",
                    "pregnancy": true,
                    "is_live": true,
                    "driver_license": {
                      "path": "logos/8fa624fd-682f-4fda-b8fa-779084759a4b.jpeg",
                      "name": "Wallpaper_1080p.png",
                      "mime_type": "image/jpeg",
                      "url": "http://api.localhost:8000/v1/file/logos/8fa624fd-682f-4fda-b8fa-779084759a4b.jpeg",
                      "url_thumbnail": null,
                      "file_id": "862a8e4c-d65a-4d52-8568-49c0d53fa51e"
                    },
                    "address": {
                      "address": "1901 1st Avenue, New York",
                      "address2": "NY 10029",
                      "zip_code": "65506-4433",
                      "city_name": "Pearl River",
                      "address_id": "31817530-d047-4565-8aa7-e16275b1715d",
                      "state": {
                        "name": "New York",
                        "abbreviation": "NY",
                        "state_id": "59bd3d22-8955-44e1-83c0-8556dd16bde4",
                        "country": {
                          "country_id": "aff4f7d5-4ce9-4696-9ae8-8fe97d011fbe",
                          "name": "United States of America",
                          "abbreviation": "US"
                        }
                      }
                    }
                  },
                  "partner": {
                    "name": "Langworth, Heaney and Mills",
                    "partner_id": "90ee8161-0bb8-4f60-9e66-cdc305ea54cb",
                    "support_message_capability": "integrated",
                    "operations_support_email": "testing@email.com",
                    "partner_notes": "Partner has...",
                    "customer_support_email": "testing@email.com",
                    "patient_message_capability": "integrated",
                    "provides_medications": true,
                    "thank_you_note_header": "Header Thank you note example",
                    "thank_you_note_footer": "Footer Thank you note example",
                    "vouched_integration_type": "disabled",
                    "customization": {
                      "primary_color": "#000000",
                      "secondary_color": "#000000",
                      "background_color": "#000000"
                    },
                    "address": {
                      "address_id": "31817530-d047-4565-8aa7-e16275b1715d",
                      "address": "1901 1st Avenue, New York",
                      "zip_code": "65506-4433",
                      "city_name": "Pearl River",
                      "state": {
                        "state_id": "59bd3d22-8955-44e1-83c0-8556dd16bde4",
                        "name": "New York",
                        "abbreviation": "NY",
                        "country": {
                          "country_id": "aff4f7d5-4ce9-4696-9ae8-8fe97d011fbe",
                          "name": "United States of America",
                          "abbreviation": "US"
                        }
                      }
                    }
                  },
                  "tags": [
                    {
                      "id": "7af7618a-5711-4485-8b35-63b65b3f56cc",
                      "type": "partner",
                      "name": "My own tag two",
                      "key": "my-own-tag-two",
                      "color": "#fff",
                      "description": "My tag description",
                      "notes": "Ola esse \u00e9 um teste editador",
                      "removable_role": null,
                      "auto_detach_status": [
                        "assigned",
                        "processing"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/status": {
      "patch": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Update hold status flag",
        "description": "Update the hold status flag.\n\n\n\nField\nType\nDescription\n\n\n\n\nhold_status\nboolean*\nIf the case is in created status you can update the flag hold status, that way you can choose when the case will enter the MDI flow.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "hold_status": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": []
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/cancel": {
      "post": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Cancel case",
        "description": "Set case as cancelled.\nPayload\n\n\n\nfield\ntype\ndescription\n\n\n\n\nreason\nstring\nA reason description (optional)",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "reason": "This is an example of a cancelled case."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "prioritized_at": null,
                  "prioritized_reason": null,
                  "prioritized": false,
                  "locked_at": null,
                  "is_locked": false,
                  "is_additional_approval_needed": true,
                  "created_at": "2021-09-01T17:04:46.000000Z",
                  "is_sync": false,
                  "is_chargeable": true,
                  "case_type": "follow-up",
                  "metadata": "asdadssa",
                  "patient_exam_id": "8cc8e948-1578-409b-9e18-0a771d349355",
                  "case_id": "23a987ec-a724-46e3-8642-6cb44c18397c",
                  "reference_case_id": "9b0c4571-f980-4fd4-bf9d-87e88d0c4571",
                  "case_status": {
                    "name": "cancelled",
                    "reason": null,
                    "updated_at": "2021-09-01T17:05:01.000000Z"
                  },
                  "partner": {
                    "name": "Jacobi and Sons",
                    "support_message_capability": "integrated",
                    "operations_support_email": "testing@email.com",
                    "customer_support_email": "testing@email.com",
                    "partner_notes": "Partner has...",
                    "partner_id": "a63e2ae6-3f98-4fd4-8391-031b0031776f",
                    "patient_message_capability": "integrated",
                    "provides_medications": true,
                    "thank_you_note_header": "Header Thank you note example",
                    "thank_you_note_footer": "Footer Thank you note example",
                    "vouched_integration_type": "disabled",
                    "customization": {
                      "primary_color": "#000000",
                      "secondary_color": "#000000",
                      "background_color": "#000000"
                    },
                    "address": {
                      "address_id": "31817530-d047-4565-8aa7-e16275b1715d",
                      "address": "1901 1st Avenue, New York",
                      "zip_code": "65506-4433",
                      "city_name": "Pearl River",
                      "state": {
                        "state_id": "59bd3d22-8955-44e1-83c0-8556dd16bde4",
                        "name": "New York",
                        "abbreviation": "NY",
                        "country": {
                          "country_id": "aff4f7d5-4ce9-4696-9ae8-8fe97d011fbe",
                          "name": "United States of America",
                          "abbreviation": "US"
                        }
                      }
                    },
                    "operation_country": {
                      "name": "United States of America",
                      "abbreviation": "US",
                      "country_id": "535fd3fd-f206-4724-89a9-55289474db8b"
                    }
                  },
                  "patient": {
                    "prefix": "Sr",
                    "first_name": "Kamille",
                    "middle_name": "Harry",
                    "last_name": "Dickens",
                    "suffix": "M.D",
                    "email": "green92@example.org",
                    "date_of_birth": "1975-01-03",
                    "gender": 0,
                    "phone_number": "541-754-3010",
                    "phone_type": "4",
                    "active": true,
                    "weight": null,
                    "height": null,
                    "dosespot": {
                      "patient_dosespot_id": "9b0c4571-f980-4fd4-bf9d-6de1ac52dc9d",
                      "sync_status": "success"
                    },
                    "current_medications": null,
                    "allergies": null,
                    "medical_conditions": "medical conditions example",
                    "pregnancy": false,
                    "metadata": null,
                    "patient_id": "410af41d-e02b-4b54-a707-725141937ec8",
                    "gender_label": "Not known",
                    "driver_license": null,
                    "is_live": true,
                    "address": {
                      "address": "1901 1st Avenue, New York",
                      "address2": "NY 10029",
                      "zip_code": "77058",
                      "city_name": "Nassau Bay",
                      "address_id": "01ed51d1-4173-4165-be32-21887da32ffb",
                      "state": {
                        "name": "Texas",
                        "abbreviation": "TX",
                        "state_id": "7ff4d81b-18b3-4dc8-a243-6da992b962d2",
                        "country": {
                          "country_id": "aff4f7d5-4ce9-4696-9ae8-8fe97d011fbe",
                          "name": "United States of America",
                          "abbreviation": "US"
                        }
                      }
                    }
                  },
                  "case_assignment": {
                    "reason": "Initial assignment.",
                    "created_at": "2021-09-01T17:04:47.000000Z",
                    "case_assignment_id": "122a0251-9bad-4cde-811c-fa17c6c1f694",
                    "clinician": {
                      "first_name": "Madisen",
                      "last_name": "Schultz",
                      "is_online": true,
                      "npi": "1598738916",
                      "specialty": "General Practice",
                      "dea": "RM1234567",
                      "clinician_id": "fbace403-f846-4411-a7eb-f4067860723e",
                      "full_name": "Jaclyn Ledner",
                      "photo": null
                    }
                  },
                  "tags": [
                    {
                      "id": "7af7618a-5711-4485-8b35-63b65b3f56cc",
                      "type": "partner",
                      "name": "My own tag two",
                      "key": "my-own-tag-two",
                      "color": "#fff",
                      "description": "My tag description",
                      "notes": "Ola esse \u00e9 um teste editador",
                      "removable_role": null,
                      "auto_detach_status": [
                        "assigned",
                        "processing"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/assigned": {
      "post": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Set case as Assigned",
        "description": "Set a given case as assigned.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "prioritized_at": null,
                  "prioritized_reason": null,
                  "prioritized": false,
                  "locked_at": null,
                  "is_locked": false,
                  "is_additional_approval_needed": true,
                  "created_at": "2021-06-07T17:01:32.000000Z",
                  "is_sync": true,
                  "metadata": "case number 15",
                  "patient_exam_id": null,
                  "is_chargeable": true,
                  "case_type": "follow-up",
                  "case_id": "45e1e159-163d-4bba-9fb5-436db4222ac5",
                  "reference_case_id": "9b0c4571-f980-4fd4-bf9d-87e88d0c4571",
                  "case_status": {
                    "name": "created",
                    "reason": null,
                    "updated_at": "2021-06-17T17:14:59.000000Z"
                  },
                  "case_assignment": {
                    "reason": "Repellat quisquam sed distinctio sit id et. Unde et doloremque quas ducimus harum perferendis. Officia sapiente velit necessitatibus deleniti. Velit error inventore ut ipsam officia id dolorem.",
                    "created_at": "2021-02-03T19:30:18.000000Z",
                    "case_assignment_id": "227ed29c-044a-41d7-bb68-caa2e6c5ee63",
                    "clinician": {
                      "first_name": "Parisian",
                      "last_name": "Schultz",
                      "suffix": "M.D",
                      "is_online": true,
                      "npi": "1598738916",
                      "specialty": "General Practice",
                      "dea": "RM1234567",
                      "photo": {
                        "path": "clinicians_photos/ba193841-9a21-4bdf-a778-2a1f33e1ea2c.jpeg",
                        "name": "under_construction.jpg",
                        "mime_type": "image/jpeg",
                        "url": "http://api.localhost:8000/v1/file/clinicians_photos/ba193841-9a21-4bdf-a778-2a1f33e1ea2c.jpeg",
                        "url_thumbnail": null,
                        "file_id": "22a03259-b2de-4255-9d2e-48a9dc368633"
                      },
                      "clinician_id": "65e4f8da-e5f7-44b3-a3d4-c9dc74981f4f",
                      "full_name": "Seamus Parisian"
                    }
                  },
                  "patient": {
                    "prefix": "Sr",
                    "first_name": "Valentine",
                    "middle_name": "Harry",
                    "last_name": "Blick",
                    "email": "alverta13@example.org",
                    "date_of_birth": "1977-07-10",
                    "gender": 0,
                    "height": 6,
                    "metadata": "patient number 15",
                    "weight": 170,
                    "phone_number": "468.287.0822",
                    "phone_type": "2",
                    "active": true,
                    "dosespot": {
                      "patient_dosespot_id": "9b0c4571-f980-4fd4-bf9d-6de1ac52dc9d",
                      "sync_status": "success"
                    },
                    "patient_id": "b9d75141-b78a-428c-ad41-c7df6307f6db",
                    "gender_label": "Not known",
                    "current_medications": "paracetamol and ibuprofen",
                    "allergies": "peanuts and penicillin",
                    "medical_conditions": "medical conditions example",
                    "pregnancy": true,
                    "is_live": true,
                    "driver_license": {
                      "path": "logos/8fa624fd-682f-4fda-b8fa-779084759a4b.jpeg",
                      "name": "Wallpaper_1080p.png",
                      "mime_type": "image/jpeg",
                      "url": "http://api.localhost:8000/v1/file/logos/8fa624fd-682f-4fda-b8fa-779084759a4b.jpeg",
                      "url_thumbnail": null,
                      "file_id": "862a8e4c-d65a-4d52-8568-49c0d53fa51e"
                    },
                    "address": {
                      "address": "1901 1st Avenue, New York",
                      "address2": "NY 10029",
                      "zip_code": "65506-4433",
                      "city_name": "Pearl River",
                      "address_id": "31817530-d047-4565-8aa7-e16275b1715d",
                      "state": {
                        "name": "New York",
                        "abbreviation": "NY",
                        "state_id": "59bd3d22-8955-44e1-83c0-8556dd16bde4",
                        "country": {
                          "country_id": "aff4f7d5-4ce9-4696-9ae8-8fe97d011fbe",
                          "name": "United States of America",
                          "abbreviation": "US"
                        }
                      }
                    }
                  },
                  "partner": {
                    "name": "Langworth, Heaney and Mills",
                    "partner_id": "90ee8161-0bb8-4f60-9e66-cdc305ea54cb",
                    "support_message_capability": "integrated",
                    "operations_support_email": "testing@email.com",
                    "partner_notes": "Partner has...",
                    "customer_support_email": "testing@email.com",
                    "patient_message_capability": "integrated",
                    "provides_medications": true,
                    "vouched_integration_type": "disabled",
                    "customization": {
                      "primary_color": "#000000",
                      "secondary_color": "#000000",
                      "background_color": "#000000"
                    },
                    "address": {
                      "address_id": "31817530-d047-4565-8aa7-e16275b1715d",
                      "address": "1901 1st Avenue, New York",
                      "zip_code": "65506-4433",
                      "city_name": "Pearl River",
                      "state": {
                        "state_id": "59bd3d22-8955-44e1-83c0-8556dd16bde4",
                        "name": "New York",
                        "abbreviation": "NY",
                        "country": {
                          "country_id": "aff4f7d5-4ce9-4696-9ae8-8fe97d011fbe",
                          "name": "United States of America",
                          "abbreviation": "US"
                        }
                      }
                    },
                    "operation_country": {
                      "name": "United States of America",
                      "abbreviation": "US",
                      "country_id": "535fd3fd-f206-4724-89a9-55289474db8b"
                    }
                  },
                  "tags": [
                    {
                      "id": "7af7618a-5711-4485-8b35-63b65b3f56cc",
                      "type": "partner",
                      "name": "My own tag two",
                      "key": "my-own-tag-two",
                      "color": "#fff",
                      "description": "My tag description",
                      "notes": "Ola esse \u00e9 um teste editador",
                      "removable_role": null,
                      "auto_detach_status": [
                        "assigned",
                        "processing"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/processing": {
      "post": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Send an Approved Case to Processing",
        "description": "",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/statuses": {
      "get": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Get Case Statuses",
        "description": "",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": "{\n    \"data\": [\n        {\n            \"name\": \"created\",\n            \"reason\": null,\n            \"hold_status\": false,\n            \"user_id\": \"1eca1ff2-a51d-4f90-9cfe-ebb4b2e83a49\",\n            \"user_type\": \"App\\\\Models\\\\Partner\",\n            \"updated_at\": \"1990-04-16T00:00:00.000000Z\",\n            \"created_at\": \"2026-01-22T20:29:40.000000Z\"\n        },\n        {\n            \"name\": \"support\",\n            \"reason\": \"Cupiditate qui quia ut at nobis nemo culpa sunt.\",\n            \"hold_status\": false,\n            \"user_id\": \"b4d17dab-11c0-474f-a3dd-f7b612542ca5\",\n            \"user_type\": \"App\\\\Models\\\\Clinician\",\n            \"updated_at\": \"2026-01-22T20:29:40.000000Z\",\n            \"created_at\": \"2026-01-22T20:29:40.000000Z\"\n        },\n        {\n            \"name\": \"assigned\",\n            \"reason\": null,\n            \"hold_status\": false,\n            \"user_id\": null,\n            \"user_type\": null,\n            \"updated_at\": \"1990-04-16T00:00:00.000000Z\",\n            \"created_at\": \"2026-01-22T20:29:40.000000Z\"\n        },\n    ],\n    \"links\": {\n        \"first\": \"http://localhost/api/cases/e641955c-f114-421a-bc51-7c5eeb801402/statuses?page=1\",\n        \"last\": \"http://localhost/api/cases/e641955c-f114-421a-bc51-7c5eeb801402/statuses?page=1\",\n        \"prev\": null,\n        \"next\": null\n    },\n    \"meta\": {\n        \"current_page\": 1,\n        \"from\": 1,\n        \"last_page\": 1,\n        \"links\": [\n            {\n                \"url\": null,\n                \"label\": \"&laquo; Previous\",\n                \"page\": null,\n                \"active\": false\n            },\n            {\n                \"url\": \"http://localhost/api/cases/e641955c-f114-421a-bc51-7c5eeb801402/statuses?page=1\",\n                \"label\": \"1\",\n                \"page\": 1,\n                \"active\": true\n            },\n            {\n                \"url\": null,\n                \"label\": \"Next &raquo;\",\n                \"page\": null,\n                \"active\": false\n            }\n        ],\n        \"path\": \"http://localhost/api/cases/e641955c-f114-421a-bc51-7c5eeb801402/statuses\",\n        \"per_page\": 15,\n        \"to\": 2,\n        \"total\": 2\n    }\n}"
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/notes": {
      "get": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Get notes",
        "description": "Return all the clinical notes for a given case.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "case_note_id": "9b12e8ca-ee58-41e0-ac49-44d541194d47",
                    "text": "This is an example of a clinical note.",
                    "case_id": "82f194ab-e400-4719-86d5-a734eed02841",
                    "model_id": "82f194ab-e400-4719-86d5-a734eed02841",
                    "model_type": "App\\Models\\Clinician",
                    "clinician": {
                      "clinician_id": "682d152c-6f94-4955-9b30-1ca976817e63",
                      "is_online": false,
                      "specialty": "General Practice",
                      "full_name": "John Snow",
                      "first_name": "John",
                      "last_name": "Snow",
                      "suffix": null,
                      "email": "snow@mail.com",
                      "date_of_birth": "1990-12-31",
                      "phone_number": "541-754-3010",
                      "phone_type": "2",
                      "fax_number": "212-9876543",
                      "profile_url": "http://profileurlexample.com",
                      "active": true,
                      "case_assignment_availability": true,
                      "photo": {
                        "file_id": "6f54001f-86b7-439e-9979-029046ebd457",
                        "path": "partners/WhjBMtAw7SkjHlW08XHyHcU49e2pYyQPkPDnoUYZ.jpg",
                        "name": "e11797_791981497f454e0098365e642f710343_mv2_d_2000_1333_s_2.jpg",
                        "mime_type": "image/jpeg",
                        "url": "https://api.mdintegrations.com/s3/files/6f54001f-86b7-439e-9979-029046ebd457/file?signature=f226677487404233f0475c801feea2f1bc6af10909d6441ace3c23ce94fe7049",
                        "url_thumbnail": "https://api.mdintegrations.com/s3/files/6f54001f-86b7-439e-9979-029046ebd457/thumbnail?signature=1dae991082051402d96095d2bc06431c8d2a346a841024f32e98e173776952ac",
                        "created_at": "2022-11-08T20:56:55.000000Z"
                      },
                      "bio_details": null
                    },
                    "created_at": "2021-08-19T13:08:33.000000Z",
                    "updated_at": "2021-08-19T13:08:33.000000Z"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Create Note",
        "description": "It creates a clinical note for the given case.\n\n\n\nfield\n\n\n\n\n\ntext*\nvarchar(1000)",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "text": "A clinical note example"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "case_note_id": "9b12e8ca-ee58-41e0-ac49-44d541194d47",
                  "case_id": "82f194ab-e400-4719-86d5-a734eed02841",
                  "text": "This is an example of a clinical note.",
                  "model_id": "82f194ab-e400-4719-86d5-a734eed02841",
                  "model_type": "App\\Models\\Partner",
                  "model": {
                    "partner_id": "82f194ab-e400-4719-86d5-a734eed02841",
                    "name": "Partner Afton Ruther"
                  },
                  "created_at": "2021-08-19T13:08:33.000000Z",
                  "updated_at": "2021-08-19T13:08:33.000000Z"
                }
              }
            }
          }
        }
      }
    },
    "/v1/partner/cases/{case_id}/tags/{tag_id}": {
      "post": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Attach tag",
        "description": "Attach a tag to case.\nPayload\n\n\n\nfield\ntype\ndescription\n\n\n\n\nnotes\nstring\nAllow to add a note when attaching tags",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "notes": "Notes to add to tag"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Detach tag",
        "description": "Detach a tag from case.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "patch": {
        "tags": [
          "Partners - Cases"
        ],
        "summary": "Update tag note",
        "description": "Allow to update the tag note related to case.\nPayload\n\n\n\nfield\ntype\ndescription\n\n\n\n\nnotes\nstring*\nAllow to add a note when attaching tags",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
[...]
